In [41]:
import pandas as pd

def mean_absolute_percentage_error(y_true, y_pred):
    return (abs(y_true - y_pred) / y_true).mean() * 100

In [42]:
df = pd.read_csv("monthly_data.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID_material                             661 non-null    int64
 1   Year                                    661 non-null    int64
 2   Season                                  661 non-null    object
 3   MonthName                               661 non-null    object
 4   Units                                   661 non-null    float64
 5   Number_Of_Holidays_In_That_Month_SPAIN  661 non-null    int64
 6   GDP_Past_Quarter_Change                 661 non-null    float64
 7   PreviousUnemploymentQuarterAmmount      661 non-null    float64
 8   Months_Since_Material_Release           661 non-null    int64
 9   Absolute_Previous GDP Quarter Change    661 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 51.8+ KB

In [44]:
import pandas as pd

# Assuming your dataframe is named 'df'
mapping = {
    120004096: "Product1",
    120009814: "Product2",
    120009816: "Product3",
    120010342: "Product4",
    120010566: "Product5",
    120010970: "Product6",
    120011556: "Product7",
    120011782: "Product8",
    120012154: "Product9",
    120012606: "Product10",
    120014486: "Product11",
    120014488: "Product12",
    120015842: "Product13",
    120015996: "Product14"
}

df['ID_material'] = df['ID_material'].map(mapping)

In [45]:
df

,ID_material,Year,Season,MonthName,Units,Number_Of_Holidays_In_That_Month_SPAIN,GDP_Past_Quarter_Change,PreviousUnemploymentQuarterAmmount,Months_Since_Material_Release,Absolute_Previous GDP Quarter Change
0,Product1,2017,Winter,January,600.0,0,0.8,4255.0,0,0.8
1,Product1,2017,Winter,February,300.0,0,0.8,4255.0,1,0.8
2,Product1,2017,Spring,March,540.0,0,0.8,4255.0,2,0.8
3,Product1,2017,Spring,April,360.0,1,0.8,4255.0,3,0.8
4,Product1,2017,Spring,May,480.0,1,0.8,4255.0,4,0.8
...,...,...,...,...,...,...,...,...,...,...
656,Product11,2022,Autumn,September,7560.0,0,2.5,2919.4,59,2.5
657,Product1,2022,Autumn,September,600.0,0,2.5,2919.4,68,2.5
658,Product6,2022,Autumn,September,4290.0,0,2.5,2919.4,42,2.5
659,Product3,2022,Autumn,September,2880.0,0,2.5,2919.4,55,2.5
660,Product13,2022,Autumn,September,1280.0,0,2.5,2919.4,22,2.5

# Global Mean

In [46]:
# Iterate over each unique material in the DataFrame
for material in df['ID_material'].unique():
    # Filter the data for the current material
    material_data = df[df['ID_material'] == material]

    # Filter the data for each test set and create three separate dataframes for the current material
    test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
    test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
    test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

    # Create the train set by excluding the rows used in the test sets for the current material
    train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]

    # Append the rows of train_set and test_set_1 to create train_set_1
    train_set_1 = pd.concat([train_set, test_set_1])

    # Calculate the mean of "Units" column in the train set for the current material
    mean_unit = train_set['Units'].mean()
    mean_unit_t1 = train_set_1['Units'].mean()
    mean_unit_t2 = pd.concat([train_set_1, test_set_2])['Units'].mean()

    # Calculate the sum of "Units" column in each test set for the current material
    sum_1 = test_set_1['Units'].sum()
    sum_2 = test_set_2['Units'].sum()
    sum_3 = test_set_3['Units'].sum()

    # Append the results to the respective lists

    mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit)
    mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1)
    mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2)
    mean_mapes = (mape_1 + mape_2 + mape_3) / 3
    print(f"Mean MAPE for {material} is", mean_mapes.round(2))

Mean MAPE for Product1 is 18.45
Mean MAPE for Product12 is 10.26
Mean MAPE for Product11 is 44.09
Mean MAPE for Product14 is 56.31
Mean MAPE for Product3 is 4.37
Mean MAPE for Product4 is 6.39
Mean MAPE for Product2 is 9.07
Mean MAPE for Product5 is 77.3
Mean MAPE for Product6 is 22.88
Mean MAPE for Product8 is 20.49
Mean MAPE for Product7 is 12.09
Mean MAPE for Product9 is 119.53
Mean MAPE for Product10 is 14.84
Mean MAPE for Product13 is 52.99

# Month median

In [61]:
# Iterate over each unique material in the DataFrame
for material in df['ID_material'].unique():

    # Filter the data for the current material
    material_data = df[df['ID_material'] == material]

    # Filter the data for each test set and create three separate dataframes for the current material
    test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
    test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
    test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

    # Create the train set by excluding the rows used in the test sets for the current material
    train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]

    mean_units_by_month = train_set.groupby('MonthName')['Units'].median()
    mean_units_dict = mean_units_by_month.to_dict()

    # Append the rows of train_set and test_set_1 to create train_set_1
    train_set_1 = pd.concat([train_set, test_set_1])

    mean_units_by_month_1 = train_set_1.groupby('MonthName')['Units'].median()
    mean_units_dict_1 = mean_units_by_month_1.to_dict()

    train_set_2 = pd.concat([train_set, test_set_1])

    mean_units_by_month_2 = train_set_2.groupby('MonthName')['Units'].median()
    mean_units_dict_2 = mean_units_by_month_2.to_dict()


    # Calculate the mean of "Units" column in the train set for the current material
    mean_unit = (mean_units_dict["April"]+mean_units_dict["March"])/2
    mean_unit_t1 = (mean_units_dict_1["June"]+mean_units_dict_1["July"])/2
    mean_unit_t2 = (mean_units_dict_2["August"]+mean_units_dict_2["September"])/2

    # Calculate the sum of "Units" column in each test set for the current material
    sum_1 = test_set_1['Units'].sum()
    sum_2 = test_set_2['Units'].sum()
    sum_3 = test_set_3['Units'].sum()

    # Append the results to the respective lists

    mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit)
    mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1)
    mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2)
    mean_mapes = (mape_1 + mape_2 + mape_3) / 3
    print(f"Mean MAPE for {material} is", mean_mapes.round(2))

Mean MAPE for Product1 is 10.95
Mean MAPE for Product12 is 14.58
Mean MAPE for Product11 is 49.05
Mean MAPE for Product14 is 56.26
Mean MAPE for Product3 is 30.13
Mean MAPE for Product4 is 10.83
Mean MAPE for Product2 is 20.66
Mean MAPE for Product5 is 61.13
Mean MAPE for Product6 is 27.31
Mean MAPE for Product8 is 21.95
Mean MAPE for Product7 is 8.61
Mean MAPE for Product9 is 168.21
Mean MAPE for Product10 is 25.21
Mean MAPE for Product13 is 26.7

# Global Median

In [62]:
# Iterate over each unique material in the DataFrame
for material in df['ID_material'].unique():
    # Filter the data for the current material
    material_data = df[df['ID_material'] == material]

    # Filter the data for each test set and create three separate dataframes for the current material
    test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
    test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
    test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

    # Create the train set by excluding the rows used in the test sets for the current material
    train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]

    # Append the rows of train_set and test_set_1 to create train_set_1
    train_set_1 = pd.concat([train_set, test_set_1])

    # Calculate the mean of "Units" column in the train set for the current material
    mean_unit = train_set['Units'].median()
    mean_unit_t1 = train_set_1['Units'].median()
    mean_unit_t2 = pd.concat([train_set_1, test_set_2])['Units'].median()

    # Calculate the sum of "Units" column in each test set for the current material
    sum_1 = test_set_1['Units'].sum()
    sum_2 = test_set_2['Units'].sum()
    sum_3 = test_set_3['Units'].sum()

    # Append the results to the respective lists

    mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit)
    mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1)
    mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2)
    mean_mapes = (mape_1 + mape_2 + mape_3) / 3
    print(f"Mean MAPE for {material} is", mean_mapes.round(2))

Mean MAPE for Product1 is 24.51
Mean MAPE for Product12 is 14.81
Mean MAPE for Product11 is 38.97
Mean MAPE for Product14 is 55.72
Mean MAPE for Product3 is 7.35
Mean MAPE for Product4 is 8.17
Mean MAPE for Product2 is 10.03
Mean MAPE for Product5 is 72.4
Mean MAPE for Product6 is 18.61
Mean MAPE for Product8 is 20.45
Mean MAPE for Product7 is 14.08
Mean MAPE for Product9 is 106.31
Mean MAPE for Product10 is 13.58
Mean MAPE for Product13 is 60.0

# Rolling Median Window

In [63]:
import numpy as np

# Define the range of X values to try
x_values = range(1,36)

# Define a variable to store the best X value and the corresponding lowest mean MAPE
best_x = None
lowest_mape = np.inf

# Iterate over each X value
for X in x_values:
    mapes_trials = []  # Define the empty list to store MAPE results

    # Iterate over each unique material in the DataFrame
    for material in df['ID_material'].unique():
        # Filter the data for the current material
        material_data = df[df['ID_material'] == material]

        # Filter the data for each test set and create three separate dataframes for the current material
        test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
        test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
        test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

        # Create the train set by excluding the rows used in the test sets for the current material
        train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]

        # Calculate the median of "Units" column in the train set for the most recent X number of months
        train_set_X = train_set.tail(X)
        mean_unit_X = train_set_X['Units'].median()
        mean_unit_t1_X = pd.concat([train_set_X, test_set_1])['Units'].median()
        mean_unit_t2_X = pd.concat([train_set_X, test_set_1, test_set_2])['Units'].median()

        # Calculate the sum of "Units" column in each test set for the current material
        sum_1 = test_set_1['Units'].sum()
        sum_2 = test_set_2['Units'].sum()
        sum_3 = test_set_3['Units'].sum()

        # Append the results to the respective lists
        mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit_X)
        mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1_X)
        mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2_X)
        mean_mapes = (mape_1 + mape_2 + mape_3) / 3
        mapes_trials.append(mean_mapes)  # Store the mean MAPE in the list

    # Calculate the mean of mapes_trials for the current X value
    mean_mape = np.mean(mapes_trials)

    # Check if the current X value gives a lower mean MAPE than the previous lowest
    if mean_mape < lowest_mape:
        lowest_mape = mean_mape
        best_x = X

    print(f"Mean MAPE for X={X} is", mean_mape.round(2))

# Print the best X value and the corresponding lowest mean MAPE
print("Best X value:", best_x)
print("Lowest mean MAPE:", lowest_mape.round(2))

Mean MAPE for X=1 is 50.6
Mean MAPE for X=2 is 40.05
Mean MAPE for X=3 is 45.27
Mean MAPE for X=4 is 41.4
Mean MAPE for X=5 is 45.18
Mean MAPE for X=6 is 43.01
Mean MAPE for X=7 is 40.24
Mean MAPE for X=8 is 40.27
Mean MAPE for X=9 is 38.13
Mean MAPE for X=10 is 38.28
Mean MAPE for X=11 is 38.24
Mean MAPE for X=12 is 36.56
Mean MAPE for X=13 is 36.11
Mean MAPE for X=14 is 34.91
Mean MAPE for X=15 is 35.71
Mean MAPE for X=16 is 34.58
Mean MAPE for X=17 is 34.79
Mean MAPE for X=18 is 35.13
Mean MAPE for X=19 is 34.97
Mean MAPE for X=20 is 34.78
Mean MAPE for X=21 is 34.34
Mean MAPE for X=22 is 34.42
Mean MAPE for X=23 is 33.44
Mean MAPE for X=24 is 33.68
Mean MAPE for X=25 is 34.53
Mean MAPE for X=26 is 34.38
Mean MAPE for X=27 is 33.75
Mean MAPE for X=28 is 34.68
Mean MAPE for X=29 is 34.36
Mean MAPE for X=30 is 34.07
Mean MAPE for X=31 is 34.51
Mean MAPE for X=32 is 34.37
Mean MAPE for X=33 is 34.44
Mean MAPE for X=34 is 34.72
Mean MAPE for X=35 is 34.48
Best X value: 23
Lowest mean MAPE: 33.44

In [64]:
# Iterate over each unique material in the DataFrame
for material in df['ID_material'].unique():
    # Filter the data for the current material
    material_data = df[df['ID_material'] == material]

    # Filter the data for each test set and create three separate dataframes for the current material
    test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
    test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
    test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

    # Create the train set by excluding the rows used in the test sets for the current material
    train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]
    train_set = train_set.tail(23)
    # Append the rows of train_set and test_set_1 to create train_set_1
    train_set_1 = pd.concat([train_set, test_set_1])

    # Calculate the mean of "Units" column in the train set for the current material
    mean_unit = train_set['Units'].median()
    mean_unit_t1 = train_set_1['Units'].median()
    mean_unit_t2 = pd.concat([train_set_1, test_set_2])['Units'].median()

    # Calculate the sum of "Units" column in each test set for the current material
    sum_1 = test_set_1['Units'].sum()
    sum_2 = test_set_2['Units'].sum()
    sum_3 = test_set_3['Units'].sum()

    # Append the results to the respective lists

    mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit)
    mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1)
    mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2)
    mean_mapes = (mape_1 + mape_2 + mape_3) / 3
    print(f"Mean MAPE for {material} is", mean_mapes.round(2))

Mean MAPE for Product1 is 20.8
Mean MAPE for Product12 is 23.17
Mean MAPE for Product11 is 53.08
Mean MAPE for Product14 is 46.01
Mean MAPE for Product3 is 9.85
Mean MAPE for Product4 is 7.03
Mean MAPE for Product2 is 9.62
Mean MAPE for Product5 is 73.3
Mean MAPE for Product6 is 16.2
Mean MAPE for Product8 is 18.96
Mean MAPE for Product7 is 13.2
Mean MAPE for Product9 is 103.43
Mean MAPE for Product10 is 13.58
Mean MAPE for Product13 is 60.0

In [ ]:
# Iterate over each unique material in the DataFrame
for material in df['ID_material'].unique():
    # Filter the data for the current material
    material_data = df[df['ID_material'] == material]

    # Filter the data for each test set and create three separate dataframes for the current material
    test_set_1 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April']))]
    test_set_2 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['June', 'July']))]
    test_set_3 = material_data[(material_data['Year'] == 2022) & (material_data['MonthName'].isin(['August', 'September']))]

    # Create the train set by excluding the rows used in the test sets for the current material
    train_set = material_data[~((material_data['Year'] == 2022) & (material_data['MonthName'].isin(['March', 'April', 'June', 'July', 'August', 'September'])))]

    # Append the rows of train_set and test_set_1 to create train_set_1
    train_set_1 = pd.concat([train_set, test_set_1])

    # Calculate the mean of "Units" column in the train set for the current material
    mean_unit = train_set['Units'].median()
    mean_unit_t1 = train_set_1['Units'].median()
    mean_unit_t2 = pd.concat([train_set_1, test_set_2])['Units'].median()

    # Calculate the sum of "Units" column in each test set for the current material
    sum_1 = test_set_1['Units'].sum()
    sum_2 = test_set_2['Units'].sum()
    sum_3 = test_set_3['Units'].sum()

    # Append the results to the respective lists

    mape_1 = mean_absolute_percentage_error(sum_1, 2 * mean_unit)
    mape_2 = mean_absolute_percentage_error(sum_2, 2 * mean_unit_t1)
    mape_3 = mean_absolute_percentage_error(sum_3, 2 * mean_unit_t2)
    mean_mapes = (mape_1 + mape_2 + mape_3) / 3
    print(f"Mean MAPE for {material} is", mean_mapes.round(2))